[run]
branch = True
source = jira_sync
omit =

[report]
precision = 2
fail_under = 100
exclude_also =
    def __repr__
    if log.isEnabledFor\([^\)]*\):
    raise NotImplementedError
show_missing = True
