name: Sync trackers
on:
  workflow_dispatch:
  schedule:
    - cron: "0 */4 * * *"

jobs:
  sync-trackers:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@v6.2.0
      with:
        python-version: "3.14"
    - uses: snok/install-poetry@v1
      with:
        version: "1.8.5"
    - name: Prepare config
      env:
        JIRA_TOKEN: ${{ secrets.jira_token }}
        GITHUBCOM_TOKEN: ${{ secrets.githubcom_token }}
        # CODEBERGORG_TOKEN: ${{ secrets.codebergorg_token }}
      run: |
        cp .github/workflows/workflow_config.toml config.toml
        sed -i -e "s|\$secrets.jira_token|$JIRA_TOKEN|g" config.toml
        cp .github/workflows/pagureio_jira_usermap.toml pagureio_jira_usermap.toml
        sed -i -e "s|\$secrets.githubcom_token|$GITHUBCOM_TOKEN|g" config.toml
        cp .github/workflows/githubcom_jira_usermap.toml githubcom_jira_usermap.toml
        sed -i -e "s|\$secrets.gitlabcom_token|$GITLABCOM_TOKEN|g" config.toml
        cp .github/workflows/gitlabcom_jira_usermap.toml gitlabcom_jira_usermap.toml
        # sed -i -e "s|\$secrets.codebergorg_token|$CODEBERGORG_TOKEN|g" config.toml
        cp .github/workflows/codebergorg_jira_usermap.toml codebergorg_jira_usermap.toml

    - name: Run the script
      run: |
        poetry install
        poetry run jira_sync sync-tickets
